body {
  background-color: #270EF1;
  font-family: sans-serif;
}

h1 {
  color: #F10ED8;
  font-family: sans-serif;
}

h2 {
  color: #F10ED8;
  font-family: sans-serif;
}

h3 {
  color: #F10ED8;
  font-family: sans-serif;
}

p {
  color: #990EF1;
  font-family: sans-serif;
}

img {
  width: 100px;
  border-radius: 10px;
}

alt {
  color: #990EF1;
  font-family: sans-serif;
}

table {
  border-collapse: collapse;
  width: 450px;
  }
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
  }
 th {
  background-color: #F10ED8;
  }
</style>


